.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.login_logo{
    object-fit: contain;
    margin: 20px auto;
    width: 100px;
}
.login_container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login_container > form > h5{
    margin-bottom: 5px;
}

.login_container > form > input{
    width: 98%;
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    font-size: 15px;
    padding: 0 5px;
}
.login_container > p{
    margin-top: 15px;
    font-size: 12px;
}
.login_signInButton{
    background: #f0c14b;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
}
.login_registerButton{
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: 1px solid darkgrey;
    border-radius: 2px;
}